body {
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
background-color: rgb(255, 255, 255);
}
.container {
background-color: rgb(255, 255, 255);
padding: 30px;
border-radius: 8px;
box-shadow: 0 3px 10px rgba(0,0,0,0.3);
text-align: center;
}

input {
display: block;
margin: 20px 0;
padding: 10px;
width: 200px;
font-size: 14px;
border: 1px solid #ddd;
border-radius: 4px;
}

button {
display: block;
margin: 20px auto;
padding: 20px 40px;
font-size: 28px;
background-color: rgb(111,111,111);
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
box-shadow: 0 3px 10px rgba(0,0,0,0.3);  
}

.button1:hover {
    background-color: rgb(189,11,11);
}

.button2:hover {
    background-color: rgb(11,189,11);
}

.button3:hover {
    background-color: rgb(11,11,189);
}

